@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$white : #fff;
$black: #000;
$red: #ff6060;
$grey: #C4C4C4;
$redGradient: linear-gradient(360deg, rgba(134, 52, 52, 1) 0%, rgba(255, 98, 98, 1) 100%);

body {
    background-color: $white;
}