.about {
    margin: 19px 20px;

    img {
        width: 100%;
        border-radius: 10px;
        height: 223px;
        object-fit: cover;
        margin-bottom: 20px;
        filter: brightness(75%);
    }
}