.about {
    margin: 19px 20px;

    img {
        width: 100%;
        border-radius: 10px;
        height: 223px;
        object-fit: cover;
        margin-bottom: 20px;
        filter: brightness(75%);
    }
    .collapse-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width : 768px) {
    .about {
        img {
            content: url("https://cdn.discordapp.com/attachments/1081227920770596865/1119378612597043322/kalen-emsley-Bkci_8qcdvQ-unsplash_2.jpg");
            margin-bottom: 38px;
        }
    }
}

@media only screen and (min-width : 1440px) {
    .about {
        margin: 0 0 19px 0;
    }
}