.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $red;

    h1 {
        font-size: 96px;
        margin-block: 113px;
    }

    p {
        width: 260px;
        font-size: 18px;
        margin-bottom: 113px;
        text-align: center;
    }

    a {
        font-size: 14px;
        color: $red;
        margin-bottom: 86px;
    }
}

@media only screen and (min-width : 768px) {
    .not-found {
        h1 {
            font-size: 288px;
            margin-block: 101px 139px;
        }
        p {
            width: 100%;
            font-size: 36px;
        }
        a {
            font-size: 18px;
        }
    }
}