.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .collapse-container {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f6f6f6;

        &:last-child {
            margin-bottom: 0;
        }

        button {
            width: 100%;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: $red;

            h3 {
                color: $white;
                font-weight: normal;
            }

            .arrow {
                width: 10px;
                height: 10px;
                border: solid $white;
                border-width: 0 2px 2px 0;
                display: inline-block;
                transform: rotate(45deg);
                transition: transform 0.3s ease;
            }

            .up {
                transform: rotate(-135deg);
            }

            .down {
                transform: rotate(45deg);
            }
        }

        .collapse-content {
            display: flex;
            justify-items: center;
            align-items: center;
            border-radius: 0 0 5px 5px;
            padding: 3%;
            font-size: 12px;

            p {
                color: $red;
                font-size: 12px;
                text-align: center;
                font-style: italic;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li {
                    color: $red;
                }
            }
        }
    }

}