header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 20px;

    img {
        width: 145px;
        height: fit-content;
    }

    ul {
        display: flex;
        list-style: none;
    }

    li {
        margin-block: 15px;
        &:first-child {
            margin-right: 11px;
        }
    }    

    a {
        text-decoration: none;
        color: #FF6060;
        font-size: 12px;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
    
}



