.banner {
    margin: 10px 19.5px;
    height: 111px;
    display: flex;
    align-items: center;
    position: relative;
    h1 {
        position: absolute;
        font-size: 24px;
        color: #fff;
        z-index: 1;
        padding-left: 16px;
    }
    .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: contrast(0.5);
    }
}

