.housingDetailComponent {
    margin-inline: 20px;

    h1 {
        color: $red;
        font-size: 18px;
        font-weight: 500;
        padding: 15px 0 5px 0;
    }

    p {
        color: $red;
        font-size: 14px;
    }

    .tags {
        display: flex;
        list-style: none;
        width: 100%;
        margin: 10px 0 16px 0;

        li {
            background-color: $red;
            color: $white;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 1rem;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .ownerInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        .ownerProfile {
            display: flex;
            align-items: center;

            p {
                width: 93px;
                padding-right: 10px;
                font-size: 0.75rem;
                text-align: right;
                color: $red;
            }

            img {
                border-radius: 50%;
                height: 32px;
            }
        }
    }
}