.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-bloc-item {
        margin: 20px;
        position: relative;
        max-width: 340px;

        a{
            display: flex;
            align-items: flex-end;
        }

        .card-title {
            position: absolute;
            background-color: rgb(255, 96, 96, 0.6);
            width: 100%;
            border-radius: 0 0 10px 10px;

            h2 {
                font-size: 18px;
                margin: 15px 19px;
                color: $white;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

}