.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 20px;
    margin-bottom: 27px;

    .card-bloc-item {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: flex;
            align-items: flex-end;
            height: 255px;
            width: 100%;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background-image: $gradientRed;
                border-radius: 0 0 10px 10px;
            }
        }

        .card-title {
            position: absolute;
            width: 100%;
            border-radius: 0 0 10px 10px;

            h2 {
                font-size: 18px;
                margin: 15px 19px;
                color: $white;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

}

@media only screen and (min-width : 768px) {
    .card-container {
        background-color: $lightGrey;
        padding: 30px;
        border-radius: 10px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}

@media only screen and (min-width : 1024px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        border-radius: 25px;
    }
}

@media only screen and (min-width : 1440px) {
    .card-container {
        margin-inline: 0;
    }
}