.starRating {
    .fullStar {
        fill: $red;
    }

    .emptyStar {
        fill: $grey;
    }
}

@media only screen and (min-width : 1024px) {

    .starRating {
        svg {
            height: 1.5em;
        }
    }
}