.carousel {
    position: relative;
    height: 255px;

    .carouselButton {
        fill: #fff;
        font-size: 35px;
        border: none;
        background-color: transparent;
        position: absolute;
        display: flex;
        width: 50px;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
    }

    .buttonRight {
        right: 0;
    }

    .buttonLeft {
        left: 0;
    }

    img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        display: none;

        &.active {
            display: flex;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (min-width : 1024px) {
    .carousel {
        height: 415px;
        img {
            border-radius: 25px;
        }
    }
}