.carousel {
    position: relative;
    height: 255px;

    .carouselButton {
        fill: #fff;
        font-size: 35px;
        border: none;
        background-color: transparent;
        position: absolute;
        display: flex;
        width: 50px;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        z-index: 1;
    }

    .buttonRight {
        right: 0;
    }

    .buttonLeft {
        left: 0;
    }

    .carousel-content {
        position: relative;
        display: none;

        &.active {
            display: flex;
            height: 100%;
        }

        img {
            border-radius: 10px;
            width: 100%;
            height: auto;
            object-fit: cover;

        }

        .carouselText {
            display: none;
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: white;
        }
    }

}

@media only screen and (min-width : 1024px) {
    .carousel {
        height: 415px;

        .carousel-content {
            img {
                border-radius: 25px;
            }
            .carouselText{
                display: flex;
            }
        }
    }
}